<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <title>Read (All)</title>

        <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/checkout/">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
                

        <!-- Bootstrap core CSS -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'main/css/bootstrap.css' %}">    
        <script src="{% static 'main/js/bootstrap.js' %}"></script>

        <!-- Custom styles for this template -->
        <link href="form-validation.css" rel="stylesheet">
        <style>
        </style>
    </head>
    <body class="bg-light pt-5">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top row">
                    <h2 class="col-2">Timothy Rogers</h2>
                    <div class="col-8 text-center">
                        <a class="text-dark d-inline-block" href=""><h5><u>Home</u></h5></a>
                        <h3 class="pt-2 d-inline-block">|</h3>
                        <a class="text-dark d-inline-block" href=""><h5>Projects</h5></a>
                        <h3 class="pt-2 d-inline-block">|</h3>
                        <a class="text-dark d-inline-block" href=""><h5>Contact</h5></a>
                    </div>
                    <span class="col-2"></span>
            </nav>
        </header>
        <div class="container">
            <div class="text-center">
                <img src="{% static 'main/images/trpic.jpg' %}" alt="" class="" style="border-radius: 15em;">
            </div>
            <h4 class="text-justify w-75 mx-auto bg-light p-2" style="opacity: .8;">
                Hey there! I'm Tim, a Full Stack Developer and a Management Information systems graduate with intensive training in software development. 
                I'm well-versed in Python, C#/.Net, JavaScript, MongoDB, and MySQL. I'm an Army Veteran and have learned that teamwork is just as important as being able to work alone.
                I am currently looking for a position as a full stack developer where I can grow my knowledge base and build a career. If you're interested in contacting me, you can do so <a href="/contact" class="d-inline-block">here.</a>
            </h4>
        </div>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
